# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
*$py.class

# ============================================================
# Virtual Environment
# ============================================================
.venv/
venv/
env/

# ============================================================
# PyCharm
# ============================================================
.idea/
*.iml

# ============================================================
# Jupyter
# ============================================================
.ipynb_checkpoints/
notebooks/cache/

# ============================================================
# Operating System
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# Python Logs
# ============================================================
*.log

# ============================================================
# Large OSM Downloads
# (Download separately)
# ============================================================
datasets/*.osm.pbf
datasets/osm_regions/*.osm.pbf

# ============================================================
# Large Population Raster
# ============================================================
datasets/*.tif

# ============================================================
# Large GIS Files
# ============================================================
datasets/*.gpkg
datasets/*.geojson
datasets/*.zip

# ============================================================
# Large Generated Parquet
# ============================================================
datasets/india_infrastructure.parquet

datasets/osm_checkpoints/